#%RAML 0.8
title: Trello
version: 1
baseUri: https://api.trello.com/1
securedBy: [oauth_2_0]
securitySchemes:
- oauth_2_0:
    description: |
            Dropbox supports OAuth 2.0 for authenticating all API requests.
    type: OAuth 2.0
    describedBy:
      headers:
        Authorization:
          description: |
            Used to send a valid OAuth 2 access token. Do not use
            with the "access_token" query string parameter.
          type: string
      queryParameters:
        access_token:
          description: |
            Used to send a valid OAuth 2 access token. Do not use together with
            the "Authorization" header
          type: string
      responses:
        401:
          description: |
            Bad or expired token. This can happen if the user or Dropbox
            revoked or expired an access token. To fix, you should re-
            authenticate the user.
        403:
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            imestamp...). Unfortunately, re-authenticating the user won't help here.
    settings:
      authorizationUri: https://trello.com/1/OAuthGetAccessToken 
      accessTokenUri: https://trello.com/1/OAuthGetRequestToken
        
/action:
  /{idAction}:
    get:
      description: <<Get Action detail for id supplied>>
      queryParameters: 
        "entities": 
          description: Default - false. Valid Values - true,false
          type: boolean
          required: false
        "fields": 
          description: Default- all. Valid Values- all or a comma-separated list of:data,date,idMemberCreator,type
          type: string
          required: false
        "member": 
          description: Default - true. Valid Values - true,false
          type: boolean
          required: false
        "member_fields": 
          description: Default - avatarHash,fullName,initials,username. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
          type: string
          required: false
        "memberCreator": 
          description: Default - true. Valid Values - true,false
          type: boolean
          required: false
        "memberCreator_fields": 
          description: Default - avatarHash,fullName,initials,username. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
          type: string
          required: false
      responses: 
        "200": 
          body: 
            "application/json": 
    put:
      description: <<create Action text for id supplied>>
      queryParameters: 
        "text": 
          description: Valid Values - a string with a length from 1 to 16384
          type: string
          required: false
      responses: 
        "200": 
          body: 
            "application/json":
    delete:
      description: <<delete an action>>
      responses: 
        "200": 
          body: 
            "application/json":
    /{field}:
      get:
        description: <<Get Action detail for id and field:- Valid Values - One of - data,date,idMemberCreator,type. required:- true>>
        responses: 
          "200": 
            body: 
              "application/json":
    /text:
      put:
        description: <<update Action text for id supplied>>
        queryParameters: 
          "text": 
            description: Valid Values - a string with a length from 1 to 16384
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":  
    /board:
      get:
        description: <<Get Action detail per board>>
        queryParameters: 
          "field": 
            description: Default - all. Valid Values -all or a comma-separated list of -closed,dateLastActivity,dateLastView,desc,descData,idOrganization,invitations,invited,labelNames,memberships,name,pinned,powerUps,prefs,shortLink,shortUrl,starred,subscribed,url
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      /{field}:
        get:
          description: <<Get Action detail per board for a field:-  Default - all. Valid Values -all or a comma-separated list of -closed,dateLastActivity,dateLastView,desc,descData,idOrganization,invitations,invited,labelNames,memberships,name,pinned,powerUps,prefs,shortLink,shortUrl,starred,subscribed,url. required:- true>>
          responses: 
            "200": 
              body: 
                "application/json":
    /card:
      get:
        description: <<Get Action detail per card>>
        queryParameters: 
          "field": 
            description: Default - all. Valid Values - all or a comma-separated list of -badges,checkItemStates,closed,dateLastActivity,desc,descData,due,email,idAttachmentCover,idBoard,idChecklists,idLabels,idList,idMembers,idMembersVoted,idShort,labels,manualCoverAttachment,name,pos,shortLink,shortUrl,subscribed,url        
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      /{field}:
        get:
          description: <<Get Action detail per card for a field:- Default - all. Valid Values - all or a comma-separated list of -badges,checkItemStates,closed,dateLastActivity,desc,descData,due,email,idAttachmentCover,idBoard,idChecklists,idLabels,idList,idMembers,idMembersVoted,idShort,labels,manualCoverAttachment,name,pos,shortLink,shortUrl,subscribed,url. required:- true >>
          responses: 
            "200": 
              body: 
                "application/json":
      /entities:
        get:
          description: <<Get Action detail per entity>>
          responses: 
            "200": 
              body: 
                "application/json":
      /list:
        get:
          description: <<Get Action detail per list>>
          queryParameters: 
            "field": 
              description: Default - all. Valid Values - all or a comma-separated list of -closed,idBoard,name,pos,subscribed        
              type: string
              required: false
          responses: 
            "200": 
              body: 
                "application/json":
    /list:
      /{field}:
        get:
          description: <<Get Lists for the action and field:- Valid Values - a comma-separated list of -closed,idBoard,name,pos,subscribed. required:- true >>
          responses: 
            "200": 
              body: 
                "application/json":
    /member:
      get:
        description: <<Get Action detail per member>>
        queryParameters: 
          "field": 
            description: Default - all. Valid Values;- all or a comma-separated list of -avatarHash,avatarSource,bio,bioData,confirmed,email,fullName,gravatarHash,idBoards,idBoardsPinned,idOrganizations,idPremOrgsAdmin,initials,loginTypes,memberType,oneTimeMessagesDismissed,prefs,premiumFeatures,products,status,status,trophies,uploadedAvatarHash,url,username
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      /{field}:
        get:
          description: <<Get list member per field:- Default - all. Valid Values;- all or a comma-separated list of -avatarHash,avatarSource,bio,bioData,confirmed,email,fullName,gravatarHash,idBoards,idBoardsPinned,idOrganizations,idPremOrgsAdmin,initials,loginTypes,memberType,oneTimeMessagesDismissed,prefs,premiumFeatures,products,status,status,trophies,uploadedAvatarHash,url,username. required:- true>>        
          responses: 
            "200": 
              body: 
                "application/json":
    /memberCreator:
      get:
        description: <<Get Action detail per member>>
        queryParameters: 
          "field": 
            description: Default - all. Valid Values;- all or a comma-separated list of -avatarHash,avatarSource,bio,bioData,confirmed,email,fullName,gravatarHash,idBoards,idBoardsPinned,idOrganizations,idPremOrgsAdmin,initials,loginTypes,memberType,oneTimeMessagesDismissed,prefs,premiumFeatures,products,status,status,trophies,uploadedAvatarHash,url,username
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      /{field}:
        get:
          description: <<Get membercreator per firls:- Default - all. Valid Values;- all or a comma-separated list of -avatarHash,avatarSource,bio,bioData,confirmed,email,fullName,gravatarHash,idBoards,idBoardsPinned,idOrganizations,idPremOrgsAdmin,initials,loginTypes,memberType,oneTimeMessagesDismissed,prefs,premiumFeatures,products,status,status,trophies,uploadedAvatarHash,url,username. required:- true>>
          responses: 
            "200": 
              body: 
                "application/json":
    /organization:
      get:
        description: <<Get Action detail per organization>>
        queryParameters: 
          "field": 
            description: Default - all. Valid Values;- all or a comma-separated list of -billableMemberCount,desc,descData,displayName,idBoards,invitations,invited,logoHash,memberships,name,powerUps,prefs,premiumFeatures,products,url,website
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      /{field}:
        get:
          description: <<Get organization per field:- Default - all. Valid Values;- all or a comma-separated list of -billableMemberCount,desc,descData,displayName,idBoards,invitations,invited,logoHash,memberships,name,powerUps,prefs,premiumFeatures,products,url,website. required:- true>>
          responses: 
            "200": 
              body: 
                "application/json":
/batch:
  get:
    description: <<Get Action detail per organization>>
    queryParameters: 
      "urls": 
        description: Valid Values;- list of API v1 GET routes, not including the version prefix
        type: string
        required: true
    responses: 
      "200": 
        body: 
          "application/json":
/boards:
  post:
    description: <<create a board>>
    queryParameters: 
      "name": 
        description: Valid Values - a string with a length from 1 to 16384
        type: string
        required: true
      "desc": 
        description: Valid Values - a string with a length from 1 to 16384
        type: string
        required: false
      "idOrganization": 
        description: Valid Values - The id or name of the organization to add the board to.
        type: string
        required: false
      "idBoardSource": 
        description: Valid Values - The id of the board to copy into the new board
        type: string
        required: false
      "keepFromSource": 
        description: Default:- All. Valid Values - Components of the source board to copy.
        type: string
        required: false
      "powerUps": 
        description: Valid Values - all or a comma-separated list of:- calendar,cardAging,recap,voting
        type: string
        required: false
      "prefs_permissionLevel": 
        description: Valid Values:- One of:- org,private,public
        type: string
        required: false
      "prefs_voting": 
        description: Valid Values - disabled,members,observers,org,public
        type: string
        required: false
      "prefs_comments": 
        description: Valid Values - disabled,members,observers,org,public
        type: string
        required: false
      "prefs_invitations": 
        description: Valid Values - admins, or members
        type: string
        required: false
      "prefs_selfJoin":
        description: Valid Values - true or false
        type: boolean
        required: false
      "prefs_cardCovers": 
        description: Valid Values - true or false
        type: boolean
        required: false
      "prefs_background": 
        description: Valid Values:- A standard background name, or the id of a custom background
        type: string
        required: false
      "prefs_cardAging": 
        description: Valid Values -  One of:- pirate,regular
        type: string
        required: false
    responses: 
      "200": 
        body: 
          "application/json":
  /{board_id}:
    get:
      description: <<Get board detail for id supplied>>
      queryParameters: 
        "actions": 
          description: all or a comma-separated list of - addAttachmentToCard,,addChecklistToCard,addMemberToBoard,addMemberToCard,addMemberToOrganization,addToOrganizationBoard,commentCard,convertToCardFromCheckItem,copyBoard,copyCard,copyCommentCard,createBoard,createCard,createList,createOrganization,deleteAttachmentFromCard,deleteBoardInvitation,deleteCard,deleteOrganizationInvitation,disablePowerUp,emailCard,enablePowerUp,makeAdminOfBoard,makeNormalMemberOfBoard,makeNormalMemberOfOrganization,makeObserverOfBoard,memberJoinedTrello,moveCardFromBoard,moveCardToBoard,moveListFromBoard,moveListToBoard,removeChecklistFromCard,removeFromOrganizationBoard,removeMemberFromCard,unconfirmedBoardInvitation,unconfirmedOrganizationInvitation,updateBoard,updateCard,updateCard:closed,updateCard:desc,updateCard:idList,updateCard:name,updateCheckItemStateOnCard,updateChecklist,updateList,updateList:closed,updateList:name,updateMember,updateOrganization
          type: string
          required: false
        "actions_entities": 
          description: Default - false. Valid Values - true,false
          type: boolean
          required: false
        "actions_format": 
          description: Default:- list Valid Values:- One of:- count,list,minimal
          type: string
          required: false
        "actions_since": 
          description: Valid Values:- A date, null or lastView
          type: string
          required: false
        "actions_limit": 
          description: Default:- 50 Valid Values:- a number from 0 to 1000
          type: string
          required: false
        "action_fields": 
          description: Default:- all. Valid Values:- all or a comma-separated list of:-data,date,idMemberCreator,type
          type: string
          required: false
        "action_member": 
          description: Default - false. Valid Values - true,false
          type: boolean
          required: false
        "action_member_fields": 
          description: Default - avatarHash,fullName,initials,username. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
          type: string
          required: false
        "action_memberCreator": 
          description: Default - true. Valid Values - true,false
          type: boolean
          required: false
        "action_memberCreator_fields": 
          description: Default - avatarHash,fullName,initials,username. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
          type: string
          required: false
        "cards": 
          description: Default:- none. Valid Values:- One of:- all,closed,none,open,visible
          type: string
          required: false
        "card_fields": 
          description: Default - all. Valid Values - all or a comma-separated list of -badges,checkItemStates,closed,dateLastActivity,desc,descData,due,email,idAttachmentCover,idBoard,idChecklists,idLabels,idList,idMembers,idMembersVoted,idShort,labels,manualCoverAttachment,name,pos,shortLink,shortUrl,subscribed,url        
          type: string
          required: false
        "card_attachments": 
          description: Default:- false. Valid Values:- A boolean value or &quot;cover&quot; for only card cover attachments
          type: string
          required: false
        "card_attachment_fields": 
          description: Default:- all. Valid Values:- all or a comma-separated list of:- bytes,date,edgeColor,idMember,isUpload,mimeType,name,previews,url attachments
          type: string
          required: false
        "card_checklists": 
          description: Default:- none. Valid Values:- One of:- all,none
          type: string
          required: false
        "card_stickers": 
          description: Default - false. Valid Values - true,false
          type: boolean
          required: false
        "boardStars": 
          description: Default:- none. Valid Values:- One of:- mine,none
          type: string
          required: false
        "labels": 
          description: Default:- none. Valid Values:- One of:- all,none
          type: string
          required: false
        "label_fields": 
          description: Default:- all. Valid Values:- all or a comma-separated list of:- color,idBoard,name,uses
          type: string
          required: false
        "labels_limit": 
          description: Default:- 50 Valid Values:- a number from 0 to 1000
          type: string
          required: false
        "lists": 
          description: Default:- none. Valid Values:- One of:- all,closed,none,open
          type: string
          required: false
        "list_fields": 
          description: Valid Values - a comma-separated list of -closed,idBoard,name,pos,subscribed        
          type: string
          required: false
        "memberships": 
          description: Default:- none. Valid Values - all or a comma-separated list of:- active,admin,deactivated,me,normal
          type: string
          required: false
        "memberships_member": 
          description: Default - false. Valid Values - true,false
          type: boolean
          required: false
        "memberships_member_fields": 
          description: Default:- fullName,username. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
          type: string
          required: false
        "members": 
          description: Default:- none. Valid Values - all or a comma-separated list of:- admins,all,none,normal,owners
          type: string
          required: false
        "member_fields": 
          description: Default:- avatarHash,initials,fullName,username,confirmed. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
          type: string
          required: false
        "membersInvited": 
          description: Default:- none. Valid Values - all or a comma-separated list of:- admins,all,none,normal,owners
          type: string
          required: false
        "membersInvited_fields": 
          description: Default:- avatarHash,initials,fullName,username,confirmed. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
          type: string
          required: false
        "checklists": 
          description: Default:- none. Valid Values - all or none
          type: string
          required: false
        "checklist_fields": 
          description: Default:- all. Valid Values - all or a comma-separated list of:-idBoard,idCard,name,pos
          type: string
          required: false
        "organization": 
          description: Default - false. Valid Values - true,false
          type: boolean
          required: false
        "organization_fields": 
          description: Default - all. Valid Values;- all or a comma-separated list of -billableMemberCount,desc,descData,displayName,idBoards,invitations,invited,logoHash,memberships,name,powerUps,prefs,premiumFeatures,products,url,website
          type: string
          required: false
        "organization_memberships": 
          description: Default:- none. Valid Values - all or a comma-separated list of:- active,admin,deactivated,me,normal
          type: string
          required: false
        "my_prefs": 
          description: Default - false. Valid Values - true,false
          type: boolean
          required: false
        "fields": 
          description: Default - all. Valid Values -all or a comma-separated list of -closed,dateLastActivity,dateLastView,desc,descData,idOrganization,invitations,invited,labelNames,memberships,name,pinned,powerUps,prefs,shortLink,shortUrl,starred,subscribed,url
          type: string
          required: true
      responses: 
        "200": 
          body: 
            "application/json": 
    put:
      description: <<create Action text for id supplied>>
      queryParameters: 
        "name": 
          description: Valid Values - a string with a length from 1 to 16384
          type: string
          required: false
        "desc": 
          description: Valid Values - a string with a length from 1 to 16384
          type: string
          required: false
        "closed": 
          description: Default - false. Valid Values - true,false
          type: boolean
          required: false
        "subscribed": 
          description: Default - false. Valid Values - true,false
          type: boolean
          required: false
        "idOrganization": 
          description: Valid Values - a string with a length from 1 to 16384
          type: string
          required: false
        "prefs/permissionLevel": 
          description: Valid Values:- One of:- org,private,public
          type: string
          required: false
        "prefs/selfJoin": 
          description: Valid Values - true or false
          type: boolean
          required: false
        "prefs/cardCovers": 
          description: Valid Values - true or false
          type: boolean
          required: false
        "prefs/invitations": 
          description: Valid Values - admins, or members
          type: string
          required: false
        "prefs/voting": 
          description: Valid Values - disabled,members,observers,org,public
          type: string
          required: false
        "prefs/comments": 
          description: Valid Values - disabled,members,observers,org,public
          type: string
          required: false
        "prefs/background": 
          description: Valid Values:- A standard background name, or the id of a custom background
          type: string
          required: false
        "prefs/cardAging": 
          description: Valid Values -  One of:- pirate,regular
          type: string
          required: false
        "prefs/calendarFeedEnabled": 
          description: Valid Values - true or false
          type: boolean
          required: false
        "labelNames/green": 
          description: Valid Values - a string with a length from 0 to 16384
          type: string
          required: false
        "labelNames/yellow": 
          description: Valid Values - a string with a length from 0 to 16384
          type: string
          required: false
        "labelNames/orange": 
          description: Valid Values - a string with a length from 0 to 16384
          type: string
          required: false
        "labelNames/red": 
          description: Valid Values - a string with a length from 0 to 16384
          type: string
          required: false
        "labelNames/purple": 
          description: Valid Values - a string with a length from 0 to 16384
          type: string
          required: false
        "labelNames/blue": 
          description: Valid Values - a string with a length from 0 to 16384
          type: string
          required: false
      responses: 
        "200": 
          body: 
            "application/json":
    /closed:
      put:
        description: <<create Action text for id supplied>>
        queryParameters: 
          "value": 
            description: Default - false. Valid Values - true,false
            type: boolean
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
    /calendarKey/generate:
      post:
        description: <<mod calendar key text for id supplied>>
        responses: 
          "200": 
            body: 
              "application/json":
    /emailKey/generate:
      post:
        description: <<mod email key text for id supplied>>
        responses: 
          "200": 
            body: 
              "application/json":
    /desc:
      put:
        description: <<create Action text for id supplied>>
        queryParameters: 
          "value": 
            description: Valid Values -  a string with a length from 0 to 16384
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
    /idOrganization:
      put:
        description: <<create Action text for id supplied>>
        queryParameters: 
          "value": 
            description: Valid Values -  a string with a length from 0 to 16384
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
    /labelNames:
      /blue:
        put:
          description: <<create Action text for id supplied>>
          queryParameters: 
            "value": 
              description: Valid Values -  a string with a length from 0 to 16384
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /green:
        put:
          description: <<create Action text for id supplied>>
          queryParameters: 
            "value": 
              description: Valid Values -  a string with a length from 0 to 16384
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /orange:
        put:
          description: <<create Action text for id supplied>>
          queryParameters: 
            "value": 
              description: Valid Values -  a string with a length from 0 to 16384
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /purple:
        put:
          description: <<create Action text for id supplied>>
          queryParameters: 
            "value": 
              description: Valid Values -  a string with a length from 0 to 16384
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /red:
        put:
          description: <<create Action text for id supplied>>
          queryParameters: 
            "value": 
              description: Valid Values -  a string with a length from 0 to 16384
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /yellow:
        put:
          description: <<create Action text for id supplied>>
          queryParameters: 
            "value": 
              description: Valid Values -  a string with a length from 0 to 16384
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
    /{field}:
      get:
        description: <<Get board detail for id and field:- Default - all. Valid Values -all or a comma-separated list of -closed,dateLastActivity,dateLastView,desc,descData,idOrganization,invitations,invited,labelNames,memberships,name,pinned,powerUps,prefs,shortLink,shortUrl,starred,subscribed,url. required:- true>>
        responses: 
          "200": 
            body: 
              "application/json":
    /actions:
      get:
        description: <<Get all actions for board>>
        queryParameters: 
          "entities": 
            description: Default - false. Valid Values - true,false
            type: boolean
            required: false
          "filter": 
            description: Default - all. Valid Values - all or a comma-separated list of - addAttachmentToCard,addChecklistToCard,addMemberToBoard,addMemberToCard,addMemberToOrganization,addToOrganizationBoard,commentCard,convertToCardFromCheckItem,copyBoard,copyCard,copyCommentCard,createBoard,createCard,createList,createOrganization,deleteAttachmentFromCard,deleteBoardInvitation,deleteCard,deleteOrganizationInvitation.disablePowerUp,emailCard,enablePowerUp,makeAdminOfBoard,makeNormalMemberOfBoard,makeNormalMemberOfOrganization,makeObserverOfBoard,memberJoinedTrello,moveCardFromBoard,moveCardToBoard,moveListFromBoard,moveListToBoard,removeChecklistFromCard,removeFromOrganizationBoard,removeMemberFromCard,unconfirmedBoardInvitation,unconfirmedOrganizationInvitation,updateBoard,updateCard,updateCard:closed,updateCard:desc,updateCard:idList,updateCard:name,updateCheckItemStateOnCard,updateChecklist,updateList,updateList:closed,updateList:name,updateMember,updateOrganization
            type: string
            required: true
          "limit": 
            description: Default:- 50 Valid Values:- a number from 0 to 1000
            type: string
            required: false
          "fields": 
            description: Default:- all. Valid Values:- all or a comma-separated list of:-data,date,idMemberCreator,type
            type: string
            required: false
          "format": 
            description: Default:- list. Valid Values:- One of:- count,list,minimal
            type: string
            required: false
          "since": 
            description: Valid Values:- A date, null or lastView
            type: string
            required: false
          "before": 
            description: Valid Values:-  A date, or null
            type: string
            required: false
          "page": 
            description: Default:- 0 Valid Values:- Page * limit must be less than 1000
            type: string
            required: false
          "idmodels": 
            description: Valid Values:- Only return actions related to these model ids
            type: string
            required: false
          "member": 
            description: Default - true. Valid Values - true,false
            type: boolean
            required: false
          "member_fields": 
            description: Default:- avatarHash,initials,fullName,username,confirmed. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
            type: string
            required: false
          "memberCreator": 
            description: Default - true. Valid Values - true,false
            type: boolean
            required: false
          "memberCreator_fields": 
            description: Default - avatarHash,fullName,initials,username. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
    /boardstars:
      get:
        description: <<Get board detail for id for boardstars>>
        queryParameters: 
          "filter": 
            description: Default :- mine. Valid Values :-  One of:- mine,none
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
    /cards:
      get:
        description: <<Get board detail for id for boardstars>>
        queryParameters: 
          "actions": 
            description: Valid Values:- all or a comma-separated list of:- addAttachmentToCard,addChecklistToCard,addMemberToBoard,addMemberToCard,addMemberToOrganization,addToOrganizationBoard,commentCard,convertToCardFromCheckItem,copyBoard,copyCard,copyCommentCard,createBoard,createCard,createList,createOrganization,deleteAttachmentFromCard,deleteBoardInvitation,deleteCard,deleteOrganizationInvitation,disablePowerUp,emailCard,enablePowerUp,makeAdminOfBoard,makeNormalMemberOfBoard,makeNormalMemberOfOrganization,makeObserverOfBoard,memberJoinedTrello,moveCardFromBoard,moveCardToBoard,moveListFromBoard,moveListToBoard,removeChecklistFromCard,removeFromOrganizationBoard,removeMemberFromCard,unconfirmedBoardInvitation,unconfirmedOrganizationInvitation,updateBoard,updateCard,updateCard:closed,updateCard:desc,updateCard:idList,updateCard:name,updateCheckItemStateOnCard,updateChecklist,updateList,updateList:closed,updateList:name,updateMember,updateOrganization        
            type: string
            required: true
          "attachments": 
            description: Default:- false. Valid Values:- A boolean value or &quot;cover&quot; for only card cover attachments
            type: string
            required: false
          "attachment_fields": 
            description: Default:- all. Valid Values:- all or a comma-separated list of:- bytes,date,edgeColor,idMember,isUpload,mimeType,name,previews,url attachments
            type: string
            required: false
          "stickers": 
            description: Default - false. Valid Values - true,false
            type: boolean
            required: false
          "members": 
            description: Default - true. Valid Values - true,false
            type: boolean
            required: false
          "member_fields": 
            description: Default:- avatarHash,initials,fullName,username,confirmed. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
            type: string
            required: false
          "checkItemStates": 
            description: Default - true. Valid Values - true,false
            type: boolean
            required: false
          "checklists": 
            description: Default:- none. Valid Values - all or none
            type: string
            required: false
          "limits": 
            description: Valid Values:- a number from 1 to 1000
            type: string
            required: false
          "since": 
            description: Valid Values:- A date, or null
            type: string
            required: false
          "before": 
            description: Valid Values:-  A date, or null
            type: string
            required: false
          "filter": 
            description: Default:- none. Valid Values:- One of:- all,closed,none,open,visible
            type: string
            required: false
          "fields": 
            description: Default - all. Valid Values - all or a comma-separated list of -badges,checkItemStates,closed,dateLastActivity,desc,descData,due,email,idAttachmentCover,idBoard,idChecklists,idLabels,idList,idMembers,idMembersVoted,idShort,labels,manualCoverAttachment,name,pos,shortLink,shortUrl,subscribed,url        
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      /{filter}:
        get:
          description: <<Get board cards per filter:- Default:- none. Valid Values:- One of:- all,closed,none,open,visible. required:- true>>
          responses: 
            "200": 
              body: 
                "application/json":
      /{idCard}:
        get:
          description: <<Get board detail per cardId:- Valid Values:-  The id (or short id) of a card on the board. required:- true>>
          queryParameters:          
            "attachments": 
              description: Default:- false. Valid Values:- A boolean value or &quot;cover&quot; for only card cover attachments
              type: string
              required: false
            "attachment_fields": 
              description: Default:- all. Valid Values:- all or a comma-separated list of:- bytes,date,edgeColor,idMember,isUpload,mimeType,name,previews,url attachments
              type: string
              required: false
            "actions": 
              description: Valid Values:- all or a comma-separated list of:- addAttachmentToCard,addChecklistToCard,addMemberToBoard,addMemberToCard,addMemberToOrganization,addToOrganizationBoard,commentCard,convertToCardFromCheckItem,copyBoard,copyCard,copyCommentCard,createBoard,createCard,createList,createOrganization,deleteAttachmentFromCard,deleteBoardInvitation,deleteCard,deleteOrganizationInvitation,disablePowerUp,emailCard,enablePowerUp,makeAdminOfBoard,makeNormalMemberOfBoard,makeNormalMemberOfOrganization,makeObserverOfBoard,memberJoinedTrello,moveCardFromBoard,moveCardToBoard,moveListFromBoard,moveListToBoard,removeChecklistFromCard,removeFromOrganizationBoard,removeMemberFromCard,unconfirmedBoardInvitation,unconfirmedOrganizationInvitation,updateBoard,updateCard,updateCard:closed,updateCard:desc,updateCard:idList,updateCard:name,updateCheckItemStateOnCard,updateChecklist,updateList,updateList:closed,updateList:name,updateMember,updateOrganization        
              type: string
              required: false
            "actions_entities": 
              description: Default - false. Valid Values - true,false
              type: boolean
              required: false
            "actions_limit": 
              description: Default:- 50 Valid Values:- a number from 0 to 1000
              type: string
              required: false
            "action_fields": 
              description: Default:- all. Valid Values:- all or a comma-separated list of:-data,date,idMemberCreator,type
              type: string
              required: false
            "action_memberCreator_fields": 
              description: Default - avatarHash,fullName,initials,username. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
              type: string
              required: false
            "member": 
              description: Default - true. Valid Values - true,false
              type: boolean
              required: false
            "member_fields": 
              description: Default:- avatarHash,initials,fullName,username,confirmed. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
              type: string
              required: false
            "checkItemStates": 
              description: Default - true. Valid Values - true,false
              type: boolean
              required: false
            "checkItemState_fields": 
              description: Default:- all. Valid Values - all or a comma-separated list of:- idCheckItem,state
              type: string
              required: false
            "labels": 
              description: Default - true. Valid Values - true,false
              type: boolean
              required: false
            "checklists": 
              description: Default:- none. Valid Values - all or none
              type: string
              required: false
            "checklist_fields": 
              description: Default:- all. Valid Values - all or a comma-separated list of:- idBoard,idCard,name,pos
              type: string
              required: false
            "fields": 
              description: Default - all. Valid Values - all or a comma-separated list of -badges,checkItemStates,closed,dateLastActivity,desc,descData,due,email,idAttachmentCover,idBoard,idChecklists,idLabels,idList,idMembers,idMembersVoted,idShort,labels,manualCoverAttachment,name,pos,shortLink,shortUrl,subscribed,url        
              type: string
              required: false
          responses: 
            "200": 
              body: 
                "application/json":
    /checklists:
      get:
        description: <<Get board detail for Id for all checlists>>
        queryParameters: 
          "cards": 
            description: Default:- none. Valid Values:- One of:- all,closed,none,open,visible
            type: string
            required: false
          "card_fields": 
            description: Default - all. Valid Values - all or a comma-separated list of -badges,checkItemStates,closed,dateLastActivity,desc,descData,due,email,idAttachmentCover,idBoard,idChecklists,idLabels,idList,idMembers,idMembersVoted,idShort,labels,manualCoverAttachment,name,pos,shortLink,shortUrl,subscribed,url        
            type: string
            required: false
          "checkItems": 
            description: Default:- none. Valid Values - all or none
            type: string
            required: false
          "checkItem_fields": 
            description: Default:- name,nameData,pos,state. Valid Values - name,nameData,pos,state,type
            type: string
            required: false
          "filter": 
            description: Default:- none. Valid Values - all or none
            type: string
            required: false
          "fields": 
            description: Default - all. Valid Values - all or a comma-separated list of - idBoard,idCard,name,pos   
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      post:
        description: <<mod ckecklists text for id supplied>>
        queryParameters: 
          "name": 
            description: Valid Values - a string with a length from 1 to 16384
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
    /deltas:
      get:
        description: <<Get board detail for id for a deltas>>
        queryParameters: 
          "tags": 
            description: Valid Values:- A valid tag for subscribing
            type: string
            required: true
          "ixLastUpdate": 
            description: Valid Values:-  a number from -1 to Infinity
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
    /labels:
      get:
        description: <<Get board detail for id for labels>>
        queryParameters: 
          "fields": 
            description: Default - all. Valid Values - all or a comma-separated list of - idBoard,color,name,uses   
            type: string
            required: false
          "limit": 
            description: Default:- 50 Valid Values:- a number from 1 to 1000
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      post:
        description: <<mod ckecklists text for id supplied>>
        queryParameters: 
          "name": 
            description: Valid Values - a string with a length from 1 to 16384
            type: string
            required: true
          "color": 
            description: Valid Values - A valid label color or null
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
      /{idLabel}:
        get:
          description: <<get board label per idLabel:- Valid Values:- The id of the label. required:- true>>
          queryParameters: 
            "fields": 
              description: Default - all. Valid Values - all or a comma-separated list of - idBoard,color,name,uses   
              type: string
              required: false
          responses: 
            "200": 
              body: 
                "application/json":
    /lists:
      get:
        description: <<Get Board detail per list>>
        queryParameters: 
          "cards": 
            description: Default:- none. Valid Values:- One of:- all,closed,none,open,visible
            type: string
            required: false
          "card_fields": 
            description: Default - all. Valid Values - all or a comma-separated list of -badges,checkItemStates,closed,dateLastActivity,desc,descData,due,email,idAttachmentCover,idBoard,idChecklists,idLabels,idList,idMembers,idMembersVoted,idShort,labels,manualCoverAttachment,name,pos,shortLink,shortUrl,subscribed,url        
            type: string
            required: false
          "filter": 
            description: Default:- open. Valid Values - all,none,closed,open
            type: string
            required: false
          "fields": 
            description: Default - all. Valid Values - all or a comma-separated list of - idBoard,idCard,name,pos, subscribed   
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      post:
        description: <<mod lists for id supplied>>
        queryParameters: 
          "name": 
            description: Valid Values - a string with a length from 1 to 16384
            type: string
            required: true
          "pos": 
            description: Valid Values - A position. top, bottom, or a positive number.
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
      /{filter}:
        get:
          description: <<Get Board lists per filter:- Default:- open. Valid Values - all,none,closed,open. required:- true>>
          responses: 
            "200": 
              body: 
                "application/json":
    /markAsViewed:
      post:
        description: <<set flag per board>>
        responses: 
          "200": 
            body: 
              "application/json":
    /members:
      get:
        description: <<Get Action detail per member>>
        queryParameters: 
          "filter": 
            description: Default:- all. Valid Values - admins,all,none,normal,owners
            type: string
            required: false
          "field": 
            description: Default - all. Valid Values;- all or a comma-separated list of -avatarHash,avatarSource,bio,bioData,confirmed,email,fullName,gravatarHash,idBoards,idBoardsPinned,idOrganizations,idPremOrgsAdmin,initials,loginTypes,memberType,oneTimeMessagesDismissed,prefs,premiumFeatures,products,status,status,trophies,uploadedAvatarHash,url,username
            type: string
            required: false
          "activity": 
            description: Default - false. Valid Values - true or false; works for premium organizations only
            type: boolean
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      put:
        description: <<create Action detail per member>>
        queryParameters: 
          "email": 
            description: Valid Values - An email address
            type: string
            required: true
          "fullname": 
            description: Valid Values:- A string with a length of at least 4. Cannot begin or end with a space.
            type: string
            required: true
          "type": 
            description: Default - normal. Valid Values - One of:- admin,normal,observer
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      /{idMember}:
        put:
          description: <<mod the board member>>
          queryParameters: 
            "idMember": 
              description: Valid Values - An id, username, or organization name
              type: string
              required: true
            "type": 
              description: Default - normal. Valid Values - One of:- admin,normal,observer
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
        delete:
          description: <<delete the board member>>
          queryParameters:
            "idMember": 
              description: Valid Values:-  An id, username, or organization name
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
        /cards:
          get:
            description: <<Get cards per board member per "idMember":- Valid Values -  An id, username, or organization name>>
            queryParameters: 
              "actions": 
                description: Valid Values:- all or a comma-separated list of:- addAttachmentToCard,addChecklistToCard,addMemberToBoard,addMemberToCard,addMemberToOrganization,addToOrganizationBoard,commentCard,convertToCardFromCheckItem,copyBoard,copyCard,copyCommentCard,createBoard,createCard,createList,createOrganization,deleteAttachmentFromCard,deleteBoardInvitation,deleteCard,deleteOrganizationInvitation,disablePowerUp,emailCard,enablePowerUp,makeAdminOfBoard,makeNormalMemberOfBoard,makeNormalMemberOfOrganization,makeObserverOfBoard,memberJoinedTrello,moveCardFromBoard,moveCardToBoard,moveListFromBoard,moveListToBoard,removeChecklistFromCard,removeFromOrganizationBoard,removeMemberFromCard,unconfirmedBoardInvitation,unconfirmedOrganizationInvitation,updateBoard,updateCard,updateCard:closed,updateCard:desc,updateCard:idList,updateCard:name,updateCheckItemStateOnCard,updateChecklist,updateList,updateList:closed,updateList:name,updateMember,updateOrganization        
                type: string
                required: false
              "attachments": 
                description: Default - false. Valid Values - A boolean value or &quot;cover&quot; for only card cover attachments
                type: string
                required: false
              "attachment_fields": 
                description: Default:- all. Valid Values:- all or a comma-separated list of:- bytes,date,edgeColor,idMember,isUpload,mimeType,name,previews,url
                type: string
                required: false
              "members": 
                description: Default - false. Valid Values - true or false
                type: boolean
                required: false
              "member_fields": 
                description: Default:- avatarHash,initials,fullName,username,confirmed. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
                type: string
                required: false
              "checkItemStates": 
                description: Default - false. Valid Values - true or false
                type: boolean
                required: false
              "checklists": 
                description: Default - none. Valid Values - all or none
                type: string
                required: false
              "board": 
                description: Default - false. Valid Values - true or false
                type: boolean
                required: false
              "board_fields": 
                description: Default - name,desc,closed,idOrganization,pinned,url,prefs. Valid Values -all or a comma-separated list of -closed,dateLastActivity,dateLastView,desc,descData,idOrganization,invitations,invited,labelNames,memberships,name,pinned,powerUps,prefs,shortLink,shortUrl,starred,subscribed,url
                type: string
                required: true
              "lists": 
                description: Default:- none. Valid Values:- One of:- all,closed,none,open
                type: string
                required: false
              "list_fields": 
                description: Valid Values - a comma-separated list of - closed,idBoard,name,pos,subscribed        
                type: string
                required: false
              "filter": 
                description: Default:- all. Valid Values - all,closed,none,open,visible
                type: string
                required: false
              "fields": 
                description: Default - all. Valid Values - all or a comma-separated list of -badges,checkItemStates,closed,dateLastActivity,desc,descData,due,email,idAttachmentCover,idBoard,idChecklists,idLabels,idList,idMembers,idMembersVoted,idShort,labels,manualCoverAttachment,name,pos,shortLink,shortUrl,subscribed,url
                type: string
                required: false
            responses: 
              "200": 
                body: 
                  "application/json":
      /{filter}:
        get:
          description: <<Get board members per filter:- Default:- all. Valid Values - admins,all,none,normal,owners. required:- true>>
          responses: 
            "200": 
              body: 
                "application/json":
    /membersInvited:
      get:
        description: <<Get Action detail per member>>
        queryParameters: 
          "fields": 
            description: Default - all. Valid Values;- all or a comma-separated list of -avatarHash,avatarSource,bio,bioData,confirmed,email,fullName,gravatarHash,idBoards,idBoardsPinned,idOrganizations,idPremOrgsAdmin,initials,loginTypes,memberType,oneTimeMessagesDismissed,prefs,premiumFeatures,products,status,status,trophies,uploadedAvatarHash,url,username
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      /{field}:
        get:
          description: <<Get invited mambers per field:- Default - all. Valid Values;- all or a comma-separated list of -avatarHash,avatarSource,bio,bioData,confirmed,email,fullName,gravatarHash,idBoards,idBoardsPinned,idOrganizations,idPremOrgsAdmin,initials,loginTypes,memberType,oneTimeMessagesDismissed,prefs,premiumFeatures,products,status,status,trophies,uploadedAvatarHash,url,username. required:- false>>
          responses: 
            "200": 
              body: 
                "application/json":
    /memberships:
      get:
        description: <<Get Action detail per member>>
        queryParameters: 
          "filter": 
            description: Default:- all. Valid Values - all or a comma-separated list of:- active,admin,deactivated,me,normal
            type: string
            required: true
          "member": 
            description: Default - false. Valid Values - true or false
            type: boolean
            required: false
          "member_fields": 
            description: Default:- avatarHash,initials,fullName,username,confirmed. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      /{idMembership}:
        get:
          description: <<Get memberships per idMembership:- Valid Values - A membership document id. required:- true>>
          queryParameters: 
            "member": 
              description: Default - false. Valid Values - true or false
              type: boolean
              required: false
            "member_fields": 
              description: Default:- avatarHash,initials,fullName,username,confirmed. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
              type: string
              required: false
          responses: 
            "200": 
              body: 
                "application/json":
        put:
          description: <<modify membership per member per idMembership:- Valid Values - A membership document id. required:- true>>
          queryParameters: 
            "type": 
              description: Default - normal. Valid Values - One of:- admin,normal,observer
              type: string
              required: true
            "member_fields": 
              description: Default:- avatarHash,initials,fullName,username,confirmed. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
              type: string
              required: false
          responses: 
            "200": 
              body: 
                "application/json":
    /myPrefs:
      get:
        description: <<Get preferences for the board>>
        responses: 
          "200": 
            body: 
              "application/json":
      /idEmailList:
        put:
          description: <<create email list preferences for the board>>
          queryParameters:
            "value": 
              description: Valid Values:-  An id
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /showListGuide:
        put:
          description: <<create email list preferences for the board>>
          queryParameters:
            "value": 
              description: Valid Values:-  true or false
              type: boolean
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /showSidebar:
        put:
          description: <<create email list preferences for the board>>
          queryParameters:
            "value": 
              description: Valid Values:-  true or false
              type: boolean
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /showSidebarActivity:
        put:
          description: <<create email list preferences for the board>>
          queryParameters:
            "value": 
              description: Valid Values:-  true or false
              type: boolean
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /showSidebarBoardActions:
        put:
          description: <<create email list preferences for the board>>
          queryParameters:
            "value": 
              description: Valid Values:-  true or false
              type: boolean
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /showSidebarMembers:
        put:
          description: <<create email list preferences for the board>>
          queryParameters:
            "value": 
              description: Valid Values:-  true or false
              type: boolean
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
    /name:
      put:
        description: <<create name for the board>>
        queryParameters:
          "value": 
            description: Valid Values:-  a string with a length from 1 to 16384
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
    /organization:
      get:
        description: <<Get preferences for the board>>
        queryParameters:
          "fields": 
            description: Default - all. Valid Values;- all or a comma-separated list of -billableMemberCount,desc,descData,displayName,idBoards,invitations,invited,logoHash,memberships,name,powerUps,prefs,premiumFeatures,products,url,website
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      /{field}:
        get:
          description: <<Get organisation per field:- Default - all. Valid Values;- all or a comma-separated list of -billableMemberCount,desc,descData,displayName,idBoards,invitations,invited,logoHash,memberships,name,powerUps,prefs,premiumFeatures,products,url,website. required:- true>>
          responses: 
            "200": 
              body: 
                "application/json":
    /prefs:
      /background:
        put:
          description: <<create background for the board>>
          queryParameters:
            "value": 
              description: Valid Values:-  A standard background name, or the id of a custom background
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /calendarFeedEnabled:
        put:
          description: <<enable cal feeds for the board>>
          queryParameters:
            "value": 
              description: Valid Values:-  true or false
              type: boolean
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /cardAging:
        put:
          description: <<create background for the board>>
          queryParameters:
            "value": 
              description: Valid Values:-  pirate or aging
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /cardCovers:
        put:
          description: <<enable cal feeds for the board>>
          queryParameters:
            "value": 
              description: Valid Values:-  true or false
              type: boolean
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /comments:
        put:
          description: <<create comments for the board>>
          queryParameters:
            "value": 
              description: Valid Values:-  One of:- disabled,members,observers,org,public
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /invitations:
        put:
          description: <<create invitations for the board>>
          queryParameters:
            "value": 
              description: Valid Values:-  One of:- admins or members
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /permissionLevel:
        put:
          description: <<create permission level for the board>>
          queryParameters:
            "value": 
              description: Valid Values:-  One of:- public, private or org
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /selfJoin:
        put:
          description: <<enable self join flag for the board>>
          queryParameters:
            "value": 
              description: Valid Values:-  true or false
              type: boolean
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /voting:
        put:
          description: <<create voting permission for the board>>
          queryParameters:
            "value": 
              description: Valid Values:-  One of:- disabled,members,observers,org,public
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /subscribed:
        put:
          description: <<enable subscription flag for the board>>
          queryParameters:
            "value": 
              description: Valid Values:-  true or false
              type: boolean
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
    /powerUps:
      put:
        description: <<enable subscription flag for the board>>
        queryParameters:
          "value": 
            description: Valid Values:-   One of:- calendar,cardAging,recap,voting
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
      /{powerUp}:
        delete:
          description: <<delete a powerup per powerup:- Valid Values:-   One of:- calendar,cardAging,recap,voting. required:- true>>
          responses: 
            "200": 
              body: 
                "application/json":
/cards:
  post:
    description: <<create a card>>
    queryParameters: 
      "name": 
        description: Valid Values - a string with a length from 1 to 16384
        type: string
        required: true
      "desc": 
        description: Valid Values - a string with a length from 1 to 16384
        type: string
        required: false
      "pos": 
        description: Default:- bottom. Valid Values:- A position. top, bottom, or a positive number.
        type: string
        required: false
      "due": 
        description: Valid Values - A date, or null
        type: string
        required: false
      "labels": 
        description: Valid Values:- all or a comma-separated list of:- blue,green,orange,purple,red,yellow
        type: string
        required: false
      "idLists": 
        description: Valid Values -  id of the list that the card should be added to
        type: string
        required: false
      "idMembers": 
        description: Valid Values:- A comma-separated list of objectIds, 24-character hex strings
        type: string
        required: false
      "idLabels": 
        description: Valid Values - A comma-separated list of objectIds, 24-character hex strings
        type: string
        required: false
      "urlSource": 
        description: Valid Values - A URL starting with http:// or https:// or null
        type: string
        required: false
      "fileSource": 
        description: Valid Values - A file
        type: string
        required: false
      "idCardSource":
        description: Valid Values - The id of the card to copy into a new card.
        type: string
        required: false
      "keepFromSource": 
        description: Default:- all. Valid Values:- Properties of the card to copy over from the source.
        type: boolean
        required: false
    responses: 
      "200": 
        body: 
          "application/json":
  /{cardId}:
    description: cardId can be a card id or shortlink
    get:
      description: <<Get card for cardID>>
      queryParameters: 
        "actions": 
          description: all or a comma-separated list of - addAttachmentToCard,,addChecklistToCard,addMemberToBoard,addMemberToCard,addMemberToOrganization,addToOrganizationBoard,commentCard,convertToCardFromCheckItem,copyBoard,copyCard,copyCommentCard,createBoard,createCard,createList,createOrganization,deleteAttachmentFromCard,deleteBoardInvitation,deleteCard,deleteOrganizationInvitation,disablePowerUp,emailCard,enablePowerUp,makeAdminOfBoard,makeNormalMemberOfBoard,makeNormalMemberOfOrganization,makeObserverOfBoard,memberJoinedTrello,moveCardFromBoard,moveCardToBoard,moveListFromBoard,moveListToBoard,removeChecklistFromCard,removeFromOrganizationBoard,removeMemberFromCard,unconfirmedBoardInvitation,unconfirmedOrganizationInvitation,updateBoard,updateCard,updateCard:closed,updateCard:desc,updateCard:idList,updateCard:name,updateCheckItemStateOnCard,updateChecklist,updateList,updateList:closed,updateList:name,updateMember,updateOrganization
          type: string
          required: false
        "actions_entities": 
          description: Default - false. Valid Values - true,false
          type: boolean
          required: false
        "actions_limit": 
          description: Default:- 50 Valid Values:- a number from 0 to 1000
          type: string
          required: false
        "action_fields": 
          description: Default:- all. Valid Values:- all or a comma-separated list of:-data,date,idMemberCreator,type
          type: string
          required: false
        "action_memberCreator_fields": 
          description: Default - avatarHash,fullName,initials,username. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
          type: string
          required: false
        "attachments": 
          description: Default:- false. Valid Values:- A boolean value or &quot;cover&quot; for only card cover attachments
          type: string
          required: false
        "attachment_fields": 
          description: Default:- all. Valid Values:- all or a comma-separated list of:- bytes,date,edgeColor,idMember,isUpload,mimeType,name,previews,url attachments
          type: string
          required: false
        "members": 
          description: Default:- none. Valid Values - all or a comma-separated list of:- admins,all,none,normal,owners
          type: string
          required: false
        "member_fields": 
          description: Default:- avatarHash,initials,fullName,username,confirmed. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
          type: string
          required: false
        "membersVoted": 
          description: Default - true. Valid Values - true,false
          type: boolean
          required: false
        "memberVoted_fields": 
          description: Default:- avatarHash,initials,fullName,username,confirmed. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
          type: string
          required: false
        "checkItemStates": 
          description: Valid Values - true or false
          type: boolean
          required: false
        "checkItemState_fields": 
          description: Default:- all. Valid Values - a comma-separated list of:- idCheckItem or state
          type: string
          required: false
        "checklists": 
          description: Default:- none. Valid Values - all or none
          type: string
          required: false
        "checklist_fields": 
          description: Default:- all. Valid Values - all or a comma-separated list of:-idBoard,idCard,name,pos
          type: string
          required: false
        "board": 
          description: Default - true. Valid Values - true,false
          type: boolean
          required: false
        "board_fields": 
          description: Default - name,desc,descData,closed,idOrganization,pinned,url,prefs. Valid Values - all or a comma-separated list of -closed,dateLastActivity,dateLastView,desc,descData,idOrganization,invitations,invited,labelNames,memberships,name,pinned,powerUps,prefs,shortLink,shortUrl,starred,subscribed,url
        "list": 
          description: Default - false. Valid Values - true,false
          type: boolean
          required: false
        "list_fields": 
          description: Valid Values - a comma-separated list of -closed,idBoard,name,pos,subscribed        
          type: string
          required: false
        "stickers": 
          description: Default - false. Valid Values - true,false
          type: boolean
          required: false
        "sticker_fields": 
          description: Default:- all. Valid Values:- all or a comma-separated list of:- image,imageScaled,imageUrl,left,rotate,top,zIndex       
          type: string
          required: false
        "fields": 
          description: Default - all. Valid Values -all or a comma-separated list of :-badges,checkItemStates,closed,dateLastActivity,desc,descData,due,email,idAttachmentCover,idBoard,idChecklists,idLabels,idList,idMembers,idMembersVoted,idShort,labels,manualCoverAttachment,name,pos,shortLink,shortUrl,subscribed,url
          type: string
          required: true
      responses: 
        "200": 
          body: 
            "application/json":
    put:
      description: <<modify card>>
      queryParameters: 
        "name": 
          description: Valid Values - a string with a length from 1 to 16384
          type: string
          required: false
        "desc": 
          description: Valid Values - a string with a length from 1 to 16384
          type: string
          required: false
        "closed": 
          description: Default - false. Valid Values - true,false
          type: boolean
          required: false
        "labels": 
          description: Valid Values- all or a comma-separated list of- blue,green,orange,purple,red,yellow
          type: string
          required: false
        "idMembers": 
          description: Valid Values - A comma-separated list of objectIds, 24-character hex strings
          type: string
          required: false
        "idAttachmentCover": 
          description: Valid Values - Id of the image attachment of this card to use as its cover, or null for no cover
          type: string
          required: false
        "idList": 
          description: Valid Values - id of the list the card should be moved to
          type: string
          required: false
        "idBoard": 
          description: Valid Values - id of the board the card should be moved to
          type: string
          required: false
        "pos": 
          description: Valid Values - A position. top, bottom, or a positive number.
          type: string
          required: false
        "due": 
          description: Valid Values - A date, or null
          type: string
          required: false
        "subscribed": 
          description: Default - false. Valid Values - true,false
          type: boolean
          required: false
      responses: 
        "200": 
          body: 
            "application/json":
    delete:
      description: <<delete the card>>
      responses: 
        "200": 
          body: 
            "application/json":
    /{field}:
      get:
        description: <<Get card for cardID and field:- Default - all. Valid Values -all or a comma-separated list of :-badges,checkItemStates,closed,dateLastActivity,desc,descData,due,email,idAttachmentCover,idBoard,idChecklists,idLabels,idList,idMembers,idMembersVoted,idShort,labels,manualCoverAttachment,name,pos,shortLink,shortUrl,subscribed,url. required:- true>>
        responses: 
          "200": 
            body: 
              "application/json":
    /actions:
      get:
        description: <<Get card actions>>
        queryParameters: 
          "entities": 
            description: Default - false. Valid Values - true,false
            type: boolean
            required: false
          "filter": 
            description: Default - all. Valid Values - all or a comma-separated list of - addAttachmentToCard,addChecklistToCard,addMemberToBoard,addMemberToCard,addMemberToOrganization,addToOrganizationBoard,commentCard,convertToCardFromCheckItem,copyBoard,copyCard,copyCommentCard,createBoard,createCard,createList,createOrganization,deleteAttachmentFromCard,deleteBoardInvitation,deleteCard,deleteOrganizationInvitation.disablePowerUp,emailCard,enablePowerUp,makeAdminOfBoard,makeNormalMemberOfBoard,makeNormalMemberOfOrganization,makeObserverOfBoard,memberJoinedTrello,moveCardFromBoard,moveCardToBoard,moveListFromBoard,moveListToBoard,removeChecklistFromCard,removeFromOrganizationBoard,removeMemberFromCard,unconfirmedBoardInvitation,unconfirmedOrganizationInvitation,updateBoard,updateCard,updateCard:closed,updateCard:desc,updateCard:idList,updateCard:name,updateCheckItemStateOnCard,updateChecklist,updateList,updateList:closed,updateList:name,updateMember,updateOrganization
            type: string
            required: true
          "fields": 
            description: Default:- all. Valid Values:- all or a comma-separated list of:-data,date,idMemberCreator,type
            type: string
            required: false
          "limit": 
            description: Default:- 50 Valid Values:- a number from 0 to 1000
            type: string
            required: false
          "format": 
            description: Default:- list. Valid Values:- One of:- count,list,minimal
            type: string
            required: false
          "since": 
            description: Valid Values:- A date, null or lastView
            type: string
            required: false
          "before": 
            description: Valid Values:-  A date, or null
            type: string
            required: false
          "page": 
            description: Default:- 0 Valid Values:- Page * limit must be less than 1000
            type: string
            required: false
          "idmodels": 
            description: Valid Values:- Only return actions related to these model ids
            type: string
            required: false
          "member": 
            description: Default - true. Valid Values - true,false
            type: boolean
            required: false
          "member_fields": 
            description: Default:- avatarHash,initials,fullName,username,confirmed. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
            type: string
            required: false
          "memberCreator": 
            description: Default - true. Valid Values - true,false
            type: boolean
            required: false
          "memberCreator_fields": 
            description: Default - avatarHash,fullName,initials,username. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      /comments:
        post:
          description: <<update comments>>
          queryParameters: 
            "text": 
              description: Valid Values - a string with a length from 1 to 16384
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
      /{idAction}/comments:
        put:
          description: <<add a comment>>
          queryParameters:
            "idAction": 
              description: Valid Values:- The id of the action.
              type: string
              required: true
            "text": 
              description: Valid Values:- a string with a length from 1 to 16384
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
              description: cardId can be the ID or shortlink
        delete:
          description: <<delete comments>>
          queryParameters: 
            "idAction": 
              description: Valid Values - The id of the action
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
    /attachments:
      get:
        description: <<Get board detail for id supplied>>
        queryParameters: 
          "fields": 
            description: Default:- all. Valid Values:- all or a comma-separated list of:- bytes,date,edgeColor,idMember,isUpload,mimeType,name,previews,url
            type: string
            required: false
          "filter": 
            description: Default - true. Valid Values:- A boolean value or &quot;cover&quot; for only card cover attachments
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      post:
        description: <<update attachements>>
        queryParameters: 
          "file": 
            description: Valid Values - A file
            type: string
            required: false
          "url": 
            description: Valid Values - A URL starting with http:// or https:// or null
            type: string
            required: false
          "name": 
            description: Valid Values - a string with a length from 0 to 256
            type: string
            required: false
          "mimeType": 
            description: Valid Values - a string with a length from 0 to 256
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      /{idAttachment}:
        get:
          description: <<Get card attachments per idAttachment:- alid Values:- The id of the attachment. required:- true>>
          queryParameters: 
            "fields": 
              description: Default:- all. Valid Values:- all or a comma-separated list of:- bytes,date,edgeColor,idMember,isUpload,mimeType,name,previews,url
              type: string
              required: false
          responses: 
            "200": 
              body: 
                "application/json":
        delete:
          description: <<delete card attachment>>
          queryParameters: 
            "idAttachment": 
              description: Valid Values:- The id of the attachment to remove from the card
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
    /board:
      get:
        description: <<Get card detail for id supplied per board>>
        queryParameters: 
          "fields": 
            description: Default:- all. Valid Values:- all or a comma-separated list of -closed,dateLastActivity,dateLastView,desc,descData,idOrganization,invitations,invited,labelNames,memberships,name,pinned,powerUps,prefs,shortLink,shortUrl,starred,subscribed,url
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      /{field}:
        get:
          description: <<Get card detail for id supplied per board, per field:- Default:- all. Valid Values:- all or a comma-separated list of -closed,dateLastActivity,dateLastView,desc,descData,idOrganization,invitations,invited,labelNames,memberships,name,pinned,powerUps,prefs,shortLink,shortUrl,starred,subscribed,url. required:- false>>
          responses: 
            "200": 
              body: 
                "application/json":
    /checkItemStates:
      get:
        description: <<Get item states for id supplied per board,>>
        queryParameters: 
          "fields": 
            description: Default:- all. Valid Values:- all or a comma-separated list of:- idCheckItem, or state
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
    /checklists:
      get:
        description: <<Get card detail for Id for all checlists>>
        queryParameters: 
          "cards": 
            description: Default:- none. Valid Values:- One of:- all,closed,none,open,visible
            type: string
            required: false
          "card_fields": 
            description: Default - all. Valid Values - all or a comma-separated list of -badges,checkItemStates,closed,dateLastActivity,desc,descData,due,email,idAttachmentCover,idBoard,idChecklists,idLabels,idList,idMembers,idMembersVoted,idShort,labels,manualCoverAttachment,name,pos,shortLink,shortUrl,subscribed,url        
            type: string
            required: false
          "checkItems": 
            description: Default:- none. Valid Values - all or none
            type: string
            required: false
          "checkItem_fields": 
            description: Default:- name,nameData,pos,state. Valid Values - name,nameData,pos,state,type
            type: string
            required: false
          "filter": 
            description: Default:- none. Valid Values - all or none
            type: string
            required: false
          "fields": 
            description: Default - all. Valid Values - all or a comma-separated list of - idBoard,idCard,name,pos   
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      post:
        description: <<change checklists>>
        queryParameters: 
          "value": 
            description: Valid Values:- The id of the checklist to add to the card, or null to create a new one.
            type: string
            required: true
          "name": 
            description: Valid Values - a string with a length from 0 to 16384
            type: string
            required: false
          "idChecklistSource": 
            description: Valid Values:- The id of the source checklist to copy into a new checklist.
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      /{idChecklist}:
        delete:
          description: <<delete card board checklist per idChecklist:- Valid Values:- The id of the checklist. required:- true>>
          responses: 
            "200": 
              body: 
                "application/json":
        /checkItem:
          post:
            description: <<change checklists>>
            queryParameters: 
              "idCheckList": 
                description: Valid Values:- The id of the checklist.
                type: string
                required: true
              "name": 
                description: Valid Values - a string with a length from 1 to 16384
                type: string
                required: true
              "pos": 
                description: Default:- bottom. Valid Values:- A position. top, bottom, or a positive number.
                type: string
                required: false
            responses: 
              "200": 
                body: 
                  "application/json":
          /{idCheckItem}:
            put:
              description: <<modify checkitem per idCheckItem:- Valid Values:- The id of the checkitem to modify. required:- true>>
              queryParameters:
                "idChecklistCurrent": 
                  description: Valid Values:- The id of the checklist..
                  type: string
                  required: true
                "name": 
                  description: Valid Values:- a string with a length from 1 to 16384
                  type: string
                  required: false
                "state": 
                  description: Valid Values:- One of:- complete,false,incomplete,true
                  type: string
                  required: false
                "idChecklist": 
                  description: Valid Values:- An id, or null
                  type: string
                  required: false
                "pos": 
                  description: Valid Values:- A position. top, bottom, or a positive number.
                  type: string
                  required: false
              responses: 
                "200": 
                  body: 
                    "application/json":
            delete:
              description: <<delete checkitem>>
              queryParameters: 
                "idCheckList": 
                  description: Valid Values:- The id of the checklist.
                  type: string
                  required: true
                "idCheckItem": 
                  description: Valid Values:- the id of the check item to remove
                  type: string
                  required: true
              responses: 
                "200": 
                  body: 
                    "application/json":
            /convertToCard:
              post:
                description: <<change checklist to card>>
                queryParameters: 
                  "idChecList": 
                    description: Valid Values:- The id of the checklist.
                    type: string
                    required: true
                  "idCheckItem": 
                    description: Valid Values - The id of the checkitem to modify.
                    type: string
                    required: true
                responses: 
                  "200": 
                    body: 
                      "application/json":
            /name:
              put:
                description: <<mod checkitem name>>
                queryParameters:
                  "idChecklist": 
                    description: Valid Values:- The id of the checklist.
                    type: string
                    required: true
                  "idCheckItem": 
                    description: Valid Values:- The id of the checkitem to modify.
                    type: string
                    required: true
                  "value": 
                    description: Valid Values:- a string with a length from 1 to 16384
                    type: string
                    required: true
                responses: 
                  "200": 
                    body: 
                      "application/json":
            /pos:
              put:
                description: <<mod checkitem position>>
                queryParameters:
                  "idChecklist": 
                    description: Valid Values:- The id of the checklist.
                    type: string
                    required: true
                  "idCheckItem": 
                    description: Valid Values:- The id of the checkitem to modify.
                    type: string
                    required: true
                  "value": 
                    description: Valid Values:- A position. top, bottom, or a positive number.
                    type: string
                    required: true
                responses: 
                  "200": 
                    body: 
                      "application/json":
            /state:
              put:
                description: <<mod state of checkitem>>
                queryParameters:
                  "idChecklist": 
                    description: Valid Values:- The id of the checklist.
                    type: string
                    required: true
                  "idCheckItem": 
                    description: Valid Values:- The id of the checkitem to modify.
                    type: string
                    required: true
                  "value": 
                    description: Valid Values:- One of:- complete,false,incomplete,true
                    type: string
                    required: true
                responses: 
                  "200": 
                    body: 
                      "application/json":
    /idLabels:
      post:
        description: <<update card labels>>
        queryParameters: 
          "value": 
            description: Default - all. Valid Values - The id of the label to add
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
      /{idLabel}:
        delete:
          description: <<delete card label for idLabel:-  Valid Values - The id of the label to delete. required:- true>>
          responses: 
            "200": 
              body: 
                "application/json":
    /list:
      get:
        description: <<Get all lists for the card>>
        queryParameters: 
          "fields": 
            description: Default - all. Valid Values - all or a comma-separated list of - idBoard,idCard,name,pos,subscribed   
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      /{field}:
        get:
          description: <<Get all lists for the card per field:- Default - all. Valid Values - all or a comma-separated list of - idBoard,idCard,name,pos,subscribed  required:- false >>
          responses: 
            "200": 
              body: 
                "application/json":
    /members:
      get:
        description: <<Get members for the card>>
        queryParameters: 
          "fields": 
            description: Default - avatarHash,fullName,initials,username. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
    /membersVoted:
      get:
        description: <<Get membersvoted for the the members>>
        queryParameters: 
          "fields": 
            description: Default - avatarHash,fullName,initials,username. Valid Values -avatarHash,bio,bioData,confirmed,fullName,idPremOrgsAdmin,initials,memberType,products,status,url,username
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      post:
        description: <<update members voted>>
        queryParameters: 
          "value": 
            description: Valid Values -The id of the member to vote &#39;yes&#39; on the card
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
      /{idMember}:
        delete:
          description: <<delete the votes per idMember:- Valid Values - The id of the member whose vote to rescind  required:- true>>
          responses: 
            "200": 
              body: 
                "application/json":
    /stickers:
      get:
        description: <<Get stickers for the card>
        queryParameters: 
          "fields": 
            description: Default:- all. Valid Values:- all or a comma-separated list of:- image,imageScaled,imageUrl,left,rotate,top,zIndex
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      post:
        description: <<update stickers>>
        queryParameters: 
          "image": 
            description: Valid Values - a string with a length from 0 to 16384
            type: string
            required: true
          "top": 
            type: string
            required: true
          "left": 
            type: string
            required: true
          "zIndex": 
            description: Valid Values - Valid Z values for stickers, must be an integer
            type: string
            required: true
          "rotate": 
            description: Default:- 0
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      /{idSticker}:
        get:
          description: <<Get sticker per idSticker:-Valid Values:- The id of the sticker  required:- true >>
          queryParameters:
            "fields": 
              description: Default:- all. Valid Values:- all or a comma-separated list of:- image,imageScaled,imageUrl,left,rotate,top,zIndex
              type: string
              required: false
          responses: 
            "200": 
              body: 
                "application/json":
        put:
          description: <<mod card sticker>>
          queryParameters:
            "idSticker": 
              description: Valid Values:- The id of the sticker
              type: string
              required: true 
            "top": 
              type: string
              required: false
            "left": 
              type: string
              required: false
            "zIndex": 
              description: Valid Values:- Valid Z values for stickers, must be an integer
              type: string
              required: false
            "rotate": 
              type: string
              required: false
          responses: 
            "200": 
              body: 
                "application/json":
        delete:
          description: <<delete card sticker>>
          queryParameters:
            "idSticker": 
              description: Valid Values:- The id of the sticker
              type: string
              required: true
          responses: 
            "200": 
              body: 
                "application/json":
    /closed:
      put:
        description: <<mod card to be closed>>
        queryParameters:
          "value": 
            description: Valid Values - true,false
            type: boolean
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
    /desc:
      put:
        description: <<add closed card description>>
        queryParameters:
          "value": 
            description: Valid Values:- a string with a length from 0 to 16384
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
    /due:
      put:
        description: <<mod card due date>>
        queryParameters:
          "value": 
            description: Valid Values:- A date, or null
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
    /idAttachmentCover:
      put:
        description: <<add card attachement cover>>
        queryParameters:
          "value": 
            description: Valid Values:- Id of the image attachment of this card to use as its cover, or null for no cover
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
    /idBoard:
      put:
        description: <<add card attachement cover>>
        queryParameters:
          "value": 
            description: Valid Values:- id of the board the card should be moved to
            type: string
            required: true
          "idList": 
            description: Valid Values:- id of the list that the card should be moved to on the new board
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
    /idList:
      put:
        description: <<add card list>>
        queryParameters:
          "value": 
            description: Valid Values:- id of the list the card should be moved to
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
    /idMembers:
      put:
        description: <<add card list>>
        queryParameters:
          "value": 
            description: Valid Values:- A comma-separated list of objectIds, 24-character hex strings
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
      post:
        description: <<update card label>>
        queryParameters: 
          "value": 
            description: Valid Values - The id of the member to add to the card
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
      /{idMember}:
        delete:
          description: <<delete card member per idMember:- Valid Values:- The id of the member to remove from the card  required:- true>
          responses: 
            "200": 
              body: 
                "application/json":
    /labels:
      put:
        description: <<add card label>>
        queryParameters:
          "value": 
            description: Valid Values:- all or a comma-separated list of:- blue,green,orange,purple,red,yellow
            type: string
            required: true
        responses: 
          "200": 
            body: 
              "application/json":
      post:
        description: <<update card label>>
        queryParameters: 
          "color": 
            description: Valid Values - A valid label color or null
            type: string
            required: true
          "name": 
            description: Valid Values - a string with a length from 0 to 16384
            type: string
            required: false
        responses: 
          "200": 
            body: 
              "application/json":
      /{color}:
        delete:
          description: <<delete card label color:- Valid Values - A valid label color or null  required:- true>>
          responses: 
            "200": 
              body: 
                "application/json":
    /markAssociatedNotificationsRead:
      post:
        description: <<update card notifications>>
        responses: 
          "200": 
            body: 
[...]
